@import '../shared';



.App {
  background-color: $background;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: $white;

  header {
    position: fixed;
    top: 0;
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: center;
    background-color: $header;
    height: 100px;
    box-shadow: darken($background, 3%) 0 2px 10px -3px;
    z-index: 777;
    .site-name {
      display: flex;
      align-self: center;
      .logo {
        height: 100px;
      }
    }
  }

  .container {
    position: relative;
    width: 100%;
    margin-top: $headerHeight; // header size + gap custom
    height: $containerHeight;
    overflow: hidden;

    // HERE IS APP WITH EACH GALLERIES
    .grid-block {
      display: grid;
      justify-content: center;
      grid-gap: 25px;
      overflow-y: auto;
      overflow-x: hidden;
      height: calc(100vh - 100px);
      padding-top: 20px;

      @media (min-width: $landscape-phone) {
        grid-template-columns: repeat(2, 0fr);
      }
      @media (min-width: $tablets) {
        grid-template-columns: repeat(3, 0fr);
      }
      .outer-block {
        border: 1px solid $white;
      }
      .border-block {
        border: 15px solid $header;
      }
      .block {
        position: relative;
        width: 256px;
        height: 171px;
        border: 1px solid $white;
        cursor: pointer;
        object-fit: cover;
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;
        img {
          position: absolute;
          top: 0;
          left: 0;
          transition: transform 1s;
          &:hover {
            transform: scale(1.2);
          }
        }
        span {
          text-shadow: 0.1em 0.1em 0.05em #333;
          text-transform: uppercase;
          z-index: 12;
          font-size: 1.5rem;
        }
      }
    }

    // HERE IS A PHOTO GALLERY
    .wrapper-photo-gallery {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;

      .title-zone {
        position: fixed;
        display: flex;
        align-self: center;
        width: 100%;
        justify-content: center;
        height: $titleZoneHeight;
        background: $background;
        z-index: 50;

        &:after {
          content: '';
          flex: 1;
        }
        .left {
          display: flex;
          align-items: center;
          flex: 1;

          button.btn-back {
            display: flex;
            outline: 0;
            cursor: pointer;
            padding: 0.6em 0.7em 0.6em;
            font-size: 0.8rem;
            border: 3px solid $white;
            background-color: transparent;
            color: $white;
            margin-left: 25px;

            img {
              height: 15px;
              margin-right: 5px;
            }
          }
        }

        .gallery-name {
          position: relative;
          text-transform: capitalize;
          font-size: 2rem;
          font-family: 'Oswald-Medium', sans-serif;
          height: 100%;
        }
      }
    }
  }
}

//// Other shit!

.App-logo {
  height: 75vmin;
  pointer-events: none;
  position: absolute;
  left: -200px;
  top: 100px;
}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
