@use '../shared';

.App {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

header {
  display: flex;
  width: 100%;
  height: 100px;
  align-items: center;
  justify-content: center;
  .identifier {
    color: white;
    text-transform: capitalize;
  }
}

.App-logo {
  height: 50vmin;
  pointer-events: none;
  position: absolute;
  left: 0;
  top: 0;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
