@use '../shared';

$pageHeight: calc(100vh - 120px); // header + margin bottom

.App {
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;

  header {
    position: fixed;
    top: 0;
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: center;
    background-color: darken(#282c34, 3%);
    height: 100px;
    box-shadow: darken(#282c34, 3%) 0 2px 10px -3px;
    z-index: 777;
    .site-name {
      display: flex;
      align-self: center;
      color: white;
      text-transform: capitalize;
      span {
        align-self: center;
        font-family: Oswald-Bold, sans-serif;
      }
      .logo {
        height: 60px;
        margin-right: 15px;
      }
    }
  }

  .container {
    position: relative;
    width: 100%;
    margin-top: 120px; // header size + gap custom
    height: $pageHeight;
    overflow: hidden;
    .grid-block {
      display: grid;
      justify-content: center;
      grid-template-columns: repeat(3, 0fr);
      grid-gap: 25px;
      overflow: hidden;
      .block {
        position: relative;
        width: 256px;
        height: 171px;
        border: 3px solid darkgrey;
        cursor: pointer;
        object-fit: cover;
        display: flex;
        justify-content: center;
        align-items: center;
        img {
          position: absolute;
          top: 0;
          left: 0;
        }
        span {
          text-transform: uppercase;
          z-index: 12;
        }
      }
    }

    .wrapper-photo-gallery {
      display: flex;
      justify-content: center;
      height: $pageHeight;
      overflow-y: auto;
      overflow-x: hidden;

      .fixed-zone {
        position: fixed;
        top: 120px;
        left: 25px;

        button.btn-back {
          font-family: inherit;
          font-size: 20px;
          font-weight: 200;
          letter-spacing: 1px;
          padding: 13px 50px 13px;
          outline: 0;
          border: 1px solid shared.$reactBlue;
          cursor: pointer;
          position: relative;
          background-color: rgba(0, 0, 0, 0);
          &:after {
            content: '';
            background-color: shared.$reactBlue;
            width: 100%;
            z-index: -1;
            position: absolute;
            height: 100%;
            top: 7px;
            left: 7px;
            transition: 0.2s;
          }
          &:hover:after {
            top: 0;
            left: 0;
          }
        }

        .gallery-name {
          margin-bottom: 10px;
          text-transform: capitalize;
        }
      }
    }
  }

  .App-logo {
    height: 75vmin;
    pointer-events: none;
    position: absolute;
    left: -200px;
    top: 100px;
  }
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
