@import '../shared';

.Gallery {
  display: grid;
  grid-template-columns: auto auto;
  justify-content: center;
  grid-gap: 5px;
  @media (min-width: $phone) {
    grid-gap: 10px;
  }
  @media (min-width: $landscape-phone) {
    grid-template-columns: repeat(3, 200px);
    grid-gap: 10px;
  }

  @media (min-width: $tablets) {
    grid-template-columns: repeat(4, 200px);
  }

  @media (min-width: $large) {
    grid-gap: 15px;
    grid-template-columns: repeat(5, 200px);
  }
}

.Item {
  border: 5px solid $header;
  overflow: hidden;
  cursor: pointer;
    height: 135px; // fuck off mais obligatoire ainsi que celui dans l'img

  img {
    width: 200px;
    height: 135px;
    object-position: 50% 50%;
    object-fit: cover;
    transition: transform 1s;
    &:hover {
      transform: scale(1.2);
    }
  }
}

div[data-pswp-caption-type='below'] {
  .exifs-values {
    flex-direction: row;
    > div {
      margin-left: 10px;
    }
  }
}
div[data-pswp-caption-type='aside'] {
  .exifs-values {
    flex-direction: column;
    > div {
      margin-bottom: 5px;
    }
  }
}

.exifs-values {
  display: flex;
  align-items: flex-start;
  > div {
    display: flex;
    align-items: center;
  }
  img {
    width: 25px;
    color: white;
  }
  span {
    font-family: 'Oswald-SemiBold', serif;
    margin-left: 5px;
  }
}
