.Gallery {
  display: grid;
  grid-template-columns: repeat(6, 0fr);
  grid-gap: 10px;
}

.Item {
  img {
    cursor: pointer;
    object-fit: cover;
    width: 150px;
    height: 150px;
  }
}

.pspw-main-class {
  //max-width: 900px;
  .pswp__img {
    //width: 800px !important;
    //width: auto !important;
    //max-width: 1080px;
    //aspect-ratio: 1.5;
  }
}
