@use '../shared';

.Gallery {
  display: grid;
  grid-template-columns: repeat(5, 0fr);
  grid-gap: 10px;
}

.Item {
  border: 5px solid shared.$header;
  overflow: hidden;
  width: 200px;
  height: 130px;
  img {
    &:hover {
      transform: scale(1.2);
    }
    cursor: pointer;
    object-fit: cover;
    width: 200px;
    height: 130px;
    transition: transform 1s;
  }
}

div[data-pswp-caption-type='below'] {
  .exifs-values {
    flex-direction: row;
    > div {
      margin-left: 10px;
    }
  }
}
div[data-pswp-caption-type='aside'] {
  .exifs-values {
    flex-direction: column;
    > div {
      margin-bottom: 5px;
    }
  }
}

.exifs-values {
  display: flex;
  align-items: flex-start;
  > div {
    display: flex;
    align-items: center;
  }
  img {
    width: 25px;
    color: white;
  }
  span {
    font-family: 'Oswald-SemiBold', serif;
    margin-left: 5px;
  }
}

.pspw-main-class {
  //max-width: 900px;
  .pswp__img {
    //width: 800px !important;
    //width: auto !important;
    //max-width: 1080px;
    //aspect-ratio: 1.5;
  }
}
