@use '../variables' as *;
.Gallery {
  display: grid;
  grid-template-columns: auto auto;
  justify-content: center;
  grid-gap: 5px;
  margin-top: $titleZoneHeight;

  max-height: $galleryHeight;
  height: fit-content;
  overflow-y: auto;
  overflow-x: hidden;

  @media (min-width: $phone) {
    grid-gap: 10px;
  }

  @media (min-width: $landscape-phone) {
    grid-template-columns: repeat(3, 200px);
  }

  @media (min-width: $tablets) {
    grid-template-columns: repeat(4, 200px);
  }

  @media (min-width: $large) {
    grid-template-columns: repeat(5, 200px);
  }
}

.Item {
  border: 5px solid $header;
  border-radius: $radius;
  overflow: hidden;
  cursor: pointer;
  height: 135px; // fuck off mais obligatoire ainsi que celui dans l'img
  &:last-child {
    margin-bottom: 10px;
  }

  img {
    width: 200px;
    height: 135px;
    object-position: 50% 50%;
    object-fit: cover;
    transition: transform 1s;
    &:hover {
      transform: scale(1.2);
    }
  }
}

div[data-pswp-caption-type='below'] {
  .exifs-values {
    flex-direction: row;
    .triangle > div:not(:first-child),
    .device > div:not(:first-child),
    div:not(:first-child) {
      margin-left: 10px;
    }
    .name > div {
      margin-left: 15px;
      text-align: center;
      padding: 0 15px;
    }
  }
}

div[data-pswp-caption-type='mobile'] {
  .exifs-values {
    flex-direction: row;
    > div:not(:first-child) {
      margin-left: 10px;
    }
    .triangle,
    .device {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      > div {
        display: flex;
      }
    }
    .name {
      text-align: center;
      padding: 0 15px;
    }
  }
}

div[data-pswp-caption-type='aside'] {
  .exifs-values {
    flex-direction: column;
    .triangle,
    .device {
      flex-direction: column;
    }
    .triangle > div,
    .device > div,
    div:not(:first-child) {
      margin-bottom: 10px;
    }
    .name {
      max-width: 75%;
    }
  }
}

.exifs-values {
  width: 100%;
  display: flex;
  .triangle,
  .device {
    display: flex;
    flex-direction: row;
    > div {
      display: flex;
      align-items: center;
    }
  }
  .name {
    font-family: 'Oswald-Bold', serif;
    @media (min-width: $tablets) {
      font-size: 1.5rem;
    }
  }

  img {
    color: white;
    width: 0.7rem;
    @media (min-width: $tablets) {
      width: 1rem;
    }
    @media (min-width: $desktop) {
      width: 1.2rem;
    }
  }

  span {
    font-family: 'Oswald-SemiBold', serif;
    margin-left: 5px;
    font-size: 0.7rem;
    @media (min-width: $tablets) {
      font-size: 1rem;
    }
    @media (min-width: $desktop) {
      font-size: 1.2rem;
    }
  }
}
